.navbar {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #E5E7EB;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar a{
    padding: 0.5rem;
}

.navbar a:hover {
    cursor: pointer;
    border-bottom: 1px solid #E5E7EB ;
}

.active{
    color: blue;
}